/* TODO fix hot reload and // comments */
body {
    background-color: gray;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: default;
}
